* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.server-column,
.dm-column,
.message-column {
  display: flex;
  flex-direction: column;
}

.server-column {
  min-width: 70px;
  background-color: #282b30;
  align-items: center;
}

.dm-column {
  min-width: 230px;
  background-color: #36393e;
  justify-content: space-between;
}

.message-column {
  background-color: #424549;
  width: 100%;
}

/* Tool tip  Section*/

/* Custom properties */
:root {
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 5px;
  --tooltip-arrow-size: 6px;
}

.tooltip-wrapper {
  display: inline-block;
  position: relative;
}

.tooltip-tip {
  position: absolute;
  border-radius: 4px;
  left: 20%;
  transform: translateX(-50%);
  padding: 6px;
  color: var(--tooltip-text-color);
  background: var(--tooltip-background-color);
  z-index: 100;
  white-space: nowrap;
}

.tooltip-tip::before {
  content: '';
  left: 50px;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--tooltip-arrow-size);
  margin-left: calc(var(--tooltip-arrow-size) * -1);
}

.tooltip-right {
  left: calc(100% + var(--tooltip-margin));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

/* CSS border triangles */
.tooltip-right::before {
  left: calc(var(--tooltip-arrow-size) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--tooltip-background-color);
}
