* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.server-column,
.dm-column,
.message-column {
  display: flex;
  flex-direction: column;
}

.server-column {
  min-width: 100px;
  overflow: scroll;
  background-color: pink;
}

.dm-column {
  min-width: 230px;
  overflow: scroll;
  background-color: aqua;
}

.message-column {
  background-color: blueviolet;
  width: 100%;
}
