* {
  padding: 0;
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}

.server-column,
.dm-column,
.message-column {
  display: flex;
  flex-direction: column;
}

.server-column {
  min-width: 70px;
  overflow: scroll;
  background-color: #282b30;
  align-items: center;
}

.dm-column {
  min-width: 230px;
  overflow: scroll;
  background-color: #36393e;
}

.message-column {
  background-color: #424549;
  width: 100%;
}
