.container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #282b30;
}

.profile {
  display: flex;
  align-items: center;
}

.profile:hover {
  cursor: pointer;
  background-color: #424549;
}

.profile-name {
  color: white;
  font-weight: 600;
}

.profile-tool {
  position: absolute;
  top: 433px;
  right: 354px;
  border-radius: 10px;
  height: 246px;
  width: 287px;
  background-color: #1e2124;
}

.settings-icon {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.settings-icon:hover {
  cursor: pointer;
}
